/* Main page contact form */
#mp-contact-form {
	display:block; 
	position:relative;
	margin:0;
	width:300px;
	height:262px;
	padding:0;
}
#mp-contact-form label {
	display:block; 
	height:69px;
	position:relative;
}
	#mp-contact-form label.message {
		height:auto;
		position:relative;
		overflow:visible;
	}
#mp-contact-form label b {
	display:block;
	font-weight:normal;
	padding:0 0 3px 0;
}
#mp-contact-form span {
	display:none;
	color:#f00;
	margin:0 0 0 5px;
	font-size:11px;
	line-height:14px;
	text-align:left;
}
#mp-contact-form label span.errors {
	display:block;
	margin:0;
	width:270px;
	position:absolute;
	top:53px;
	left:6px;
}
#mp-contact-form label.message span.errors {
	left:6px;
	top:85px;
}

#mp-contact-form input {
	width:200px;
	height:15px;
	font-size:12px;
	padding:7px 10px 8px 10px;
	background:#dcdcdc;
	outline:none;
	font-family: Arial, Helvetica, sans-serif;
	display:block;
	color:#7d7d7d;
	margin:0;
	box-shadow: 0 1px 1px rgba(0,0,0,.4) inset;
	border:  none;
	border-radius:6px;
}
#mp-contact-form textarea {
	width:280px;
	height:45px;
	font-size:12px;
	padding:7px 10px 8px 10px;
	background:#dcdcdc;
	outline:none;
	font-family: Arial, Helvetica, sans-serif;
	display:block;
	color:#7d7d7d;
	margin:0;
	box-shadow: 0 1px 1px rgba(0,0,0,.4) inset;
	border:  none;
	border-radius:6px;
	overflow:auto;
	resize:none;
}
#mp-contact-form .btns {
	padding:0;
	position:absolute;
	bottom:0;
	right:0;
	height:auto;
	width:auto;
	overflow:hidden;
}
	#mp-contact-form .btns a {
		margin:0 0 0 17px;
	}
#mp-contact-form .success {
	display:none;
	font-size:12px;
	line-height:20px;
	padding:0;
	top:-19px;
	left:0;
	right:0;
	text-align: left;
	position:absolute;
	word-spacing:-1px;
	color:#747474;
}
#select-car {
	padding:0 0 30px 0;
}
#select-car .form-col-1 {
	float:left;
	width:175px;
	margin:0 12px 0 0;
}
#select-car .form-col-2 {
	float:left;
	width:133px;
	margin:0 12px 0 0;
}
#select-car .form-col-3 {
	float:left;
	width:193px;
	margin:0 14px 0 0;
}
#select-car .form-col-4 {
	float:left;
	width:61px;
}
#select-car .jqTransformSelectWrapper {
	position:relative; 
	float:left; 
}
#select-car .jqTransformSelectWrapper div span{
	display:block;
	float: none; 
	background:#fff;
	position:relative;
	white-space: nowrap;
	overflow:hidden;
	cursor:pointer;
	padding: 2px 9px 2px 9px;
	border:1px solid #d1d1d1;
}
#select-car .jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display: block;
	position:absolute; 
	right:3px;
	top:3px;
	width:20px;
	height:19px;
	background:url(../images/car-select-button.gif) no-repeat  0 0;
}
#select-car .jqTransformSelectWrapper ul {
	position: absolute;
	top: 28px;
	left: 0px;
	background-color: #FFF;
	display: none;
	margin: 0px;
	padding: 0px;
	overflow: auto;
	overflow-y: auto;
	z-index:10;
	border:1px solid #ddd;
}
#select-car .jqTransformSelectWrapper ul a {
	display: block;
	padding:5px;
	color:#000;
	font-size:12px;
	padding-left:9px;
}
#select-car .jqTransformSelectWrapper ul a.selected {color: #00b4ff;}
#select-car .jqTransformSelectWrapper ul a:hover, 
#select-car .jqTransformSelectWrapper ul a.selected:hover {
	color: #fff; 
	background:#ddd;
	text-decoration:none;
}

#select-car .jqTransformHidden {display: none;}

#search-alt input {
	display:block;
	background:#fff;
	padding:8px 10px;
	border:1px solid #d1d1d1;
	width:358px;
	height:16px;
	font-size:14px;
	color:#636363;
	margin:0 0 17px 0;
	outline:none;
}
#search-alt {text-align:right;}

/* Contact form */
#contact-form {
	display:block; 
	height:493px;
	position:relative;
}
#contact-form label {
	display:block; 
	height:40px;
	position:relative;
}
	#contact-form label.message {
		height:auto;
		position:relative;
	}
#contact-form span {
	display:none;
	color:#f00;
	margin:0 0 0 5px;
	font-size:11px;
	line-height:14px;
}
#contact-form label span.errors {
	display:block;
	margin:0;
	position:absolute;
	right:0;
	top:9px;
	width:195px;
}
	#contact-form label.message span.errors {
		display:block;
		position: relative;
		clear:both;
		width:auto;
	}
#contact-form input {
	width:324px; 
	font-size:12px;
	padding:8px 8px 9px 8px;
	background:#fff;
	outline:none;
	font-family:Arial, Helvetica, sans-serif;
	display:block;
	color:#636363;
	margin:0;
	box-shadow:none !important;
	border:1px solid #d1d1d1;
	height:15px;
}
#contact-form textarea {
	height:296px;
	width:522px; 
	font-size:12px;
	padding:8px 8px 9px 8px;
	background:#fff;
	outline:none;
	font-family:Arial, Helvetica, sans-serif;
	display:block;
	color:#636363;
	margin:0;
	box-shadow:none !important;
	border:1px solid #d1d1d1;
	overflow:auto;
	resize:none;
}
#contact-form .btns {
	position:absolute;
	bottom:0;
	right:0;
	height:auto;
	width:auto;
	overflow:hidden;
}
	#contact-form .btns a {
		margin:0 0 0 10px;
	}
.success {
	display:none;
	font-size:13px;
	line-height:18px;
	padding:0;
	top:-18px;
	left:5px;
	position:absolute;
	word-spacing:-1px;
	color:#6b6b6b;
}
/* Typography Page Forms */
#pro_contact-form{line-height:18px;}
	#pro_contact-form label{ min-height:40px; position:relative; display:block;}
	#pro_contact-form input,#pro_contact-form  textarea{ border-radius:3px; box-shadow:inset 0 0 5px rgba(0,0,0,.1);font-family:Arial, Helvetica, sans-serif;color:#000;font-size:13px;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none;overflow:hidden; width:270px;}
	#pro_contact-form  textarea{ resize:none; overflow:auto; height:170px;}
#pro_contact-form .pro_buttons{ position:relative; padding:20px 0  0 0; text-align:right;}
	#pro_contact-form .pro_buttons span{ display:inline-block; margin-right:15px;}
#pro_contact-form .success,
#pro_contact-form .error,
#pro_contact-form .empty{display:none; text-align:left;}
#pro_contact-form .error,
#pro_contact-form .empty{position:relative; color:red; font-size:11px; top:0px; left:10px;}
#pro_contact-form .success,
#pro_contact-form .success strong{ color:#000; background:none; box-shadow:none;}
#pro_contact-form .success{ padding-bottom:5px;-pie-background:none;}
/* ------------------------------------------------ */
#pro_form1{line-height:18px;}
	#pro_form1 label{ display:block; position:relative; min-height:40px;}
	#pro_form1 input[type="text"]{ border-radius:3px; width:180px;font-family:Arial, Helvetica, sans-serif;color:#000;font-size:13px;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none; overflow:hidden;}
	#pro_form1 input[type="radio"]{ margin:5px 0 0;}
	#pro_form1 input[type="checkbox"]{ margin:10px 0 0;}
	#pro_form1 textarea{ resize:none;border-radius:3px; height:120px; overflow:auto;font-family:Arial, Helvetica, sans-serif;color:#000;font-size:13px;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none;width:270px; overflow:hidden;}
	#pro_form1 select{ width:195px; border:1px solid #ddd; padding:5px; border-radius:3px;}
	#pro_form1 span.pro_text-form{ display:inline-block; padding:5px 0 0; min-width:80px;}
	#pro_form1 div.pro_text-form{ padding:5px 0 10px 0;}
	#pro_form1 .pro_text-form2{ margin:2px 10px 0 8px; display:inline-block;}
	#pro_form1 .pro_text-form3{ margin:7px 0px 0 8px; display:inline-block;}
	#pro_form1 .pro_btns{ padding:10px 0 0 0;}
/* ------------------------------------------------ */
#pro_form2{line-height:18px;}
	#pro_form2 label{ display:block; position:relative; min-height:40px;}
	#pro_form2 input[type="text"]{ border-radius:3px; width:180px; box-shadow:inset 0 0 5px rgba(0,0,0,.1);font-family:Arial, Helvetica, sans-serif;color:#000;font-size:13px;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none;overflow:hidden;}
	#pro_form2 textarea{ resize:none;border-radius:3px; height:120px; box-shadow:inset 0 0 5px rgba(0,0,0,.1); overflow:auto;font-family:Arial, Helvetica, sans-serif;color:#000;font-size:13px;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none;width:270px;}
	#pro_form2 span.pro_text-form{ display:inline-block; padding:5px 0 0; min-width:80px;}
	#pro_form2 div.pro_text-form{ padding:5px 0 10px 0; min-width:90px;}
	#pro_form2 .pro_text-form2{ margin:3px 0 0 5px;}
	#pro_form2 .pro_text-form3{ padding:8px 0px 5px 5px;}
	#pro_form2 .pro_btns{ padding:10px 0 0 0;}	
.pro_pad-form{ padding-top:5px;}
.pro_pad-form2{ padding-top:25px;}
/* ------------- * Selects * ------------- */
#pro_form2 .jqTransformSelectWrapper {position:relative; float:left; width:194px !important;}
#pro_form2 .jqTransformSelectWrapper div span{ display:block;float: none; width:184px !important;background:#fff;position:relative;white-space: nowrap;overflow:hidden;cursor:pointer;border:1px solid #ddd;padding:5px; border-radius:3px; box-shadow:inset 0 0 5px rgba(0,0,0,.1);}
#pro_form2 .jqTransformSelectWrapper  a.jqTransformSelectOpen {display: block;position:absolute; right:2px;top:4px;width:22px;height:21px;background: url(../images/pro_images/select.png) no-repeat  0 0;}
#pro_form2 .jqTransformSelectWrapper  a.jqTransformSelectOpen:hover{ background-position:0 -21px;}
#pro_form2 .jqTransformSelectWrapper ul {
	position: absolute;
	top: 31px;
	left: 0px;
	background-color: #FFF;
	display: none;
	margin: 0px;
	padding: 0px;
	overflow: auto;
	overflow-y: auto;
	z-index:10;
	border:1px solid #ddd;
	width:194px !important;
	border-radius:3px; box-shadow:inset 0 0 5px rgba(0,0,0,.1);}
#pro_form2 .jqTransformSelectWrapper ul a {display: block;padding:5px;color:#000;font-size:12px;padding-left:12px;}
#pro_form2 .jqTransformSelectWrapper ul a.selected {color: #B94A48;}
#pro_form2 .jqTransformSelectWrapper ul a:hover, 
#pro_form2 .jqTransformSelectWrapper ul a.selected:hover {color: #fff; background:#ddd;text-decoration:none;}
/* ------------- * Radios * ------------- */
#pro_form2 .jqTransformRadioWrapper {float: left;display:block; margin:5px 0 0;}
#pro_form2 .jqTransformRadio {
	background: transparent url(../images/pro_images/radio.png) 0 0px no-repeat;
	vertical-align: middle;
	height:16px;
	width:16px;
	display:block;/*display: -moz-inline-block;*/
}
/* ------------- * Checked - Radio * ------------- */
#pro_form2 a.jqTransformChecked {background: transparent url(../images/pro_images/radio.png) 0 -17px no-repeat;}
/* -- * Checkboxes * -- */
#pro_form2 span.jqTransformCheckboxWrapper{display:block;float:left; padding:10px 0 0 0;}
#pro_form2 a.jqTransformCheckbox {background: transparent url(../images/pro_images/checkbox.png) 0 0px no-repeat;vertical-align: middle;height:15px;width:15px;display:block;/*display: -moz-inline-block;*/}
/* -- * Checked * -- */
#pro_form2 .jqTransformCheckboxWrapper a.jqTransformChecked {background: transparent url(../images/pro_images/checkbox.png) 0 -16px no-repeat;}
/* ------------- * Hidden - used to hide the original form elements * ------------- */
#pro_form2 .jqTransformHidden {display: none;}
/* ------------------------------------------------ */
#pro_search,#pro_subscribe{ vertical-align:middle;line-height:18px;}
	#pro_search input,#pro_subscribe input{ width:180px; border-radius:3px; box-shadow:inset 0 0 5px rgba(0,0,0,.1);font-family:Arial, Helvetica, sans-serif;color:#000;font-size:1em;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none; overflow:hidden;}
	#pro_search .pro_btn,#pro_subscribe .pro_btn{ padding:7px 10px; margin-top:-1px;}
/* ------------------------------------------------ */
#pro_log_in{ vertical-align:middle;line-height:18px;}
	#pro_log_in input{ width:90px; border-radius:3px; box-shadow:inset 0 0 5px rgba(0,0,0,.1);font-family:Arial, Helvetica, sans-serif;color:#000;font-size:13px;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none;overflow:hidden;}
	#pro_log_in .pro_btn{ padding:7px 10px; margin-top:-1px;}
/* ------------------------------------------------ */
#pro_log_in2{ vertical-align:middle; padding:10px 0 0 0; width:274px;line-height:18px;}
	#pro_log_in2 label{ display:block; min-height:40px;}
	#pro_log_in2 input{ width:258px; border-radius:3px; box-shadow:inset 0 0 5px rgba(0,0,0,.1);font-family:Arial, Helvetica, sans-serif;color:#000;font-size:13px;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none; overflow:hidden;}
	#pro_log_in2 .pro_btn{ padding:7px 10px;}
	#pro_log_in2 .pro_buttons{ text-align:right; padding:5px 0;}
/* ------------------------------------------------ */
#pro_newsletter{vertical-align:middle; padding:30px 0 0 0;line-height:18px;}
#pro_newsletter input{ width:376px; border-radius:2px 0 0 2px; color:#8b8b8b; background:#eeeeee; border:1px solid #cdcdcd; border-right:none;padding:9px;font-family:Arial, Helvetica, sans-serif;font-size:13px;vertical-align:middle;font-weight:normal;margin:0;outline:none;overflow:hidden; min-height:16px;}
#pro_newsletter .pro_btn{ padding:9px 15px 10px; margin-top:0; margin-left:0; box-shadow:none; border-radius:0 2px 2px 0; border:1px solid #cdcdcd;}
#pro_newsletter .pro_btn:hover{
	 background:#E0E0E0;
	background: -webkit-linear-gradient(top, #E0E0E0, white);
	background:    -moz-linear-gradient(top, #E0E0E0, white);
	background:     -ms-linear-gradient(top, #E0E0E0, white);
	background:      -o-linear-gradient(top, #E0E0E0, white);
	-pie-background:      linear-gradient(top, #E0E0E0, white);}