  
		<div id="content">

			<!-- Page Banner -->
			<div class="page-banner">
				<div class="container">
					<strong><h2>Ubicación</h2></strong>

				</div>
			</div>


			<!-- contact box -->
			<div class="contact-box">
				<div class="container">
					<div class="row">


	

						<div class="col-md-6" align="center">
							<h2>Honda 5 de Febrero</h2>
					<span class="single-project-content">
                    <img alt="Honda 5 de Febrero Ubicación" src="images/fachada-5defebrero.jpg"></span>                       
						<div class="col-md-12">
							<div class="contact-information">
								<strong><p align="justify"><strong>Información de Contacto</strong><br><br>
                                
			<span><i class="fa fa-home"></i> Av. 5 de Febrero #1502</span> <span>Colonia San Pablo,  </span><span>C.P. 76130. </span><span> Querétaro, QRO.</span><br>
			<span><i class="fa fa-phone"></i> (442) 210 2404   |   </span>    <a href="contacto.php"><i class="fa fa-envelope"></i><strong>  recepcion5defebrero@famemarquesa.com</strong></a><br>
            <span><i class="fa fa-whatsapp"></i></span> Whatsapp Postventa <strong>  ·  4433694057 </strong></p>
								
							</div>
						</div>
                        
                        </div> 
                        
                        


			<!-- Map box -->
            <div class="col-md-6" align="center">
            <h3>Ubicación</h3><br>
			<div class="map">
				
			</div>
            </div>

					</div>
				</div>
			</div>

		</div><br>


		<!-- End content -->


	 
	
</body>
</html>